* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Left-top Circle.png"),
    url("../img/left-top2 Circle.png"), url("../img/Center Circle.png"),
    url("../img/left-bottom Circle.png"), url("../img/R-top Circle.png"),
    url("../img/right-bottom Circle.png"), url("../img/right-top-Circle2.png");
  background-position: left top, left top, center, left bottom, right top,
    right bottom, right top;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat;
  background-size: cover, cover, cover, cover, cover, cover, cover;
}
